<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{../../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
	rel="stylesheet" />
<script src="../../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../../../webjars/jquery/3.0.0/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	 let url = window.location.href;
	  $('nav ul li a').each(function() {
	   if (this.href === url) {
	   $(this).addClass('active');
	  }
	 });
});
</script>
</head>