<nav class="navbar navbar-dark navbar-expand-sm" style="background-color: #228b22;" th:fragment="breadcrumbfragment">
	<!-- Brand/logo -->
	<a class="navbar-brand" href="/">
		E-Commerce
	</a>

	<!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item mb-0 h6">
			<a class="nav-link"  href="/commande/list">
				Gestion des Commandes
			</a>
		</li>
		<li class="nav-item mb-0 h6">
			<a class="nav-link" href="/produits/list">
				Gestion des Produits
			</a>
		</li>
		<li class="nav-item mb-0 h6">
			<a class="nav-link" href="/clients/list">
				Gestion des Clients
			</a>
		</li>
		<li class="nav-item mb-0 h6">
			<a class="nav-link" href="/categories/list">
				Gestion des Categories
			</a>
		</li>
		<li class="nav-item mb-0 h6">
			<a class="nav-link" href="/pages/about">
				A propos de nous
			</a>
		</li>
	</ul>
</nav>