<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Ajouter Produit</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container-fluid">

		<div class="alert alert-success mt-2" role="alert">
			<h2 class="d-flex justify-content-center">Ajouter Produit</h2>
		</div>

		<form th:object="${produitForm}" method="POST" th:action="@{/add-produit}" cssClass="form">

			<hidden type="text" th:field="*{idProduit}" />
				
			<table class="d-flex justify-content-center">
				<tr>
					<td>Nom</td>
				 	<td><input type="text" th:field="*{nom}" class="form-control" id="nom" /></td>
				</tr>

				<tr>
					<td>Quantite</td>
					<td><input type="number" th:field="*{quantite}" class="form-control" id="quantite" /></td>
				</tr>

				<tr>
					<td>Disponible</td>
					<td>
						<select th:field="*{disponibilite}" class="form-control" Selected="*{produitForm.disponibilite}" name="tp6" id="disponibilite">
							<option value="Oui">Oui</option>
							<option value="Non">Non</option>
						</select>
					</td>
				</tr>

				<tr>
					<td>Categorie</td>
					<td>
						<select th:field="*{categorie}" class="form-control" Selected="*{produitForm.categorie}" name="tp6" id="categorie">
							<option value="Sport">Sport</option>
							<option value="Cuisine">Cuisine</option>
							<option value="Automobile">Automobile</option>
							<option value="Bricolage">Bricolage</option>
							<option value="Electronique">Electronique</option>
							<option value="smartphone">smartphone</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td>Mots cles</td>
					<td><textarea type="textarea" th:field="*{motsCles}" class="form-control" id="motsCles"></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td class="float-right">
						<button class="btn btn-outline-success mb-2" type="submit"> 
							<svg xmlns="http://www.w3.org/2000/svg" width="16"
								height="16" fill="currentColor" class="bi bi-plus-circle-fill"
								viewBox="0 0 16 16">
							  <path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
							</svg> Ajouter
						</button>
						<a class="btn btn-outline-secondary mb-2" th:href="@{/produits/list}" role="button">Annuler</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>