<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
	rel="stylesheet" />
<script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>