<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
	th:fragment="breadcrumbfragment">
	<!-- Brand/logo -->
	<a class="navbar-brand" href="#">E-Commerce</a>

	<!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="/commande/list">Gestion
				des Commandes</a></li>
		<li class="nav-item"><a class="nav-link" href="/produits/list">Gestion
				des Produits</a></li>
		<li class="nav-item"><a class="nav-link" href="/livreur/list">
				Gestion des Livreurs</a></li>
		<li class="nav-item"><a class="nav-link" href="/clients/list">Gestion
				des Clients</a></li>
	</ul>
</nav>
