<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Client Form</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container">
		<h2>Veuillez remplir les champs</h2>

		<form th:object="${ClientForm}" method="POST"
			th:action="@{/Clients/save}" cssClass="form">

			<hidden type="text" th:field="*{id}" />

			<div class="form-group">
				<label>Nom</label> <input type="text" th:field="*{nom}"
					cssClass="form-control" id="nom" />
			</div>

			<div class="form-group">
				<label>Prenom</label> <input type="text" th:field="*{prenom}"
					cssClass="form-control" id="prenom" />
			</div>

			<div class="form-group">
				<label>Login</label> <input type="text" th:field="*{login}"
					cssClass="form-control" id="login" />
			</div>

			<div class="form-group">
				<label>Password</label> <input type="password"
					th:field="*{password}" cssClass="form-control" id="password" />
			</div>

			<div class="form-group">
				<label>Tel</label> <input type="text" th:field="*{tel}"
					cssClass="form-control" id="tel" />
			</div>

			<div class="form-group">
				<label>Email</label> <input type="text" th:field="*{email}"
					cssClass="form-control" id="email" />
			</div>

			<div class="form-group">
				<label>Adresse</label> <input type="text" th:field="*{adress}"
					cssClass="form-control" id="adress" />
			</div>

			<button type="submit" class="btn btn-primary">Confirmer</button>
			<a class="btn btn-primary" th:href="@{/clients/list}" role="button">annuler</a>
			</form:form>
	</div>
</body>
</html>