<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Liste des Commandes</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container">

		<h2>Liste des Commandes</h2>

		<div class="float-right">
			<a class="btn btn-primary" th:href="@{/commande/find}" role="button">Recherche</a>
		</div>
		<br>
		<br>
		<table class="table table-striped">
			<thead>
				<th scope="row">ID</th>
				<th scope="row">adress</th>
				<th scope="row">ref</th>
				<th scope="row">codePostal</th>
				<th scope="row">id_client</th>
				<th scope="row">action</th>
			</thead>
			<tbody>
				<tr th:each="m : ${Commandes}">
					<td th:utext="${m.idCommande}"></td>
					<td th:utext="${m.adress}"></td>
					<td th:utext="${m.ref}"></td>
					<td th:utext="${m.codePostal}"></td>
					<td th:utext="${m.getFullName()}"></td>

					<td><a class="btn btn-primary"
						th:href="@{/commande/{id} (id=${m.idCommande})}" role="button">afficher</a>

						<a class="btn btn-primary"
						th:href="@{/commande/update/{id} (id=${m.idCommande})}"
						role="button">modifer</a> <a class="btn btn-primary"
						th:href="@{/commande/delete/{id} (id=${m.idCommande})}"
						role="button">supprimer</a></td>

				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" th:href="@{/commande/add}" role="button">
			Creer une commande
		</a>
	</div>
</body>
</html>