<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Update votre Commande</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<form th:object="${resForm}" method="POST"
		th:action="@{/commande/recherche}" cssClass="form">
		<div class="container">

			<h2 align="center">Recherche des commandes</h2>

			<div class="form-group">
				<label>Ref :</label> <input type="text" th:field="*{mots}"
					cssClass="form-control" id="mots" />
				<button type="submit" class="btn btn-primary">Recherche</button>
			</div>
		</div>
		<br> <br>

		<div class="container">
			<h2>Liste des commandes</h2>
			<table class="table table-striped">
				<thead>
					<th scope="row">ID</th>
					<th scope="row">adress</th>
					<th scope="row">ref</th>
					<th scope="row">codePostal</th>
					<th scope="row">id_client</th>
					<th scope="row">action</th>
				</thead>
				<tbody>
					<tr th:each="m : ${resForm.listCommande}">
						<td th:utext="${m.idCommande}"></td>
						<td th:utext="${m.adress}"></td>
						<td th:utext="${m.ref}"></td>
						<td th:utext="${m.codePostal}"></td>
						<td th:utext="${m.getFullName()}"></td>

						<td><a class="btn btn-primary"
							th:href="@{/commande/update/{id} (id=${m.idCommande})}"
							role="button">modifer</a> <a class="btn btn-primary"
							th:href="@{/commande/delete/{id} (id=${m.idCommande})}"
							role="button">supprimer</a></td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" th:href="@{/commande/list}" role="button">retour</a>
		</div>
	</form>
</body>
</html>