<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Voir votre Commande</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container">
		<h2>Voir votre commande</h2>

		<form th:object="${CommandeForm}" method="POST"
			th:action="@{/Commandes/save}" cssClass="form">

			<hidden type="text" th:field="*{idCommande}" />

			<div class="form-group">
				<label>Ref :</label> <input type="text" th:field="*{ref}"
					cssClass="form-control" id="ref" disabled />
			</div>

			<div class="form-group">
				<label>Adress :</label> <input type="text" th:field="*{adress}"
					cssClass="form-control" id="adress" disabled />
			</div>

			<div class="form-group">
				<label>Code Postal :</label> <input type="text"
					th:field="*{codePostal}" cssClass="form-control" id="codePostal"
					disabled />
			</div>


			<div class="form-group">
				<label>Id client</label> <input type="text"
					th:field="*{id_client.id}" cssClass="form-control" id="id_client"
					disabled />
			</div>

			<p>
				<label>Produits: <label>
			</p>

			<table class="table table-striped">
				<thead>

					<th scope="row">Nom</th>
					<th scope="row">Quantite</th>
					<th scope="row">Disponibilite</th>
					<th scope="row">categorie</th>

				</thead>
				<tbody>
					<tr th:each="c : ${produits}">
						<td hidden th:utext="${c.idProduit}"></td>
						<td th:utext="${c.nom}"></td>
						<td th:utext="${c.quantite}"></td>
						<td th:utext="${c.disponibilite}"></td>
						<td th:utext="${c.categorie}"></td>

					</tr>
				</tbody>
			</table>

			<a class="btn btn-primary" th:href="@{/commande/list}" role="button">retour</a>
		</form>
	</div>
</body>
</html>