<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Modifier Categorie</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container-fluid">

		<div class="alert alert-success mt-2" role="alert">
			<h2 class="d-flex justify-content-center">Modifier Categorie</h2>
		</div>

		<form th:object="${CategorieForm}" method="POST" th:action="@{/categories/save}" cssClass="form">
			
			<table class="d-flex justify-content-center">
				<tr>
					<td>ID</td>
					<td><input readonly="true" type="text" th:field="*{idCategorie}" class="form-control" id="idCategorie" /></td>
				</tr>
				<tr>
					<td>Nom</td>
					<td><input type="text" th:field="*{nom}" class="form-control" id="nom" /></td>
				</tr>
				<tr>
					<td></td>
					<td class="float-right">
						<button class="btn btn-outline-success mb-2" type="submit"> 
							<svg xmlns="http://www.w3.org/2000/svg" width="16"
								height="16" fill="currentColor" class="bi bi-plus-circle-fill"
								viewBox="0 0 16 16">
							  <path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
							</svg> Modifier
						</button>
						<a class="btn btn-outline-secondary mb-2" th:href="@{/categories/list}" role="button">Annuler</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>