<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Recherche Categories</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container-fluid">

		<div class="alert alert-success mt-2" role="alert">
		  <h2 class="d-flex justify-content-center">Recherche Categories</h2>
		</div>
		
		<div class="d-flex justify-content-center">
			<form th:object="${resForm}" method="POST" th:action="@{/categories/recherche}" cssClass="form">
				<div class="input-group">
				    <div class="input-group-prepend">
				    	<span class="input-group-text" id="basic-addon1">Nom</span>
				    </div>
					<input type="text" th:field="*{mots}" class="form-control" id="mots" />
				
					<button type="submit" class="btn btn-outline-primary ml-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</button>
				</div>
			</form>
		</div>
		
		<table class="table">
			<thead class="thead-dark">
				<th scope="row">ID</th>
				<th scope="row">Nom</th>
				<th scope="row">Action</th>
			</thead>
			<tbody>
				<tr th:each="m : ${resForm.listCategorie}">
					<td th:utext="${m.idCategorie}"></td>
					<td th:utext="${m.nom}"></td>
					<td>
						<a class="btn btn-outline-info" th:href="@{/categories/{id} (id=${m.idCategorie})}" role="button">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
							  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
							  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
							</svg>
							Afficher
						</a>
						<a class="btn btn-outline-warning" th:href="@{/categories/update/{id} (id=${m.idCategorie})}" role="button">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
							  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
							  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
							</svg>
							Modifer
						</a> 
						<a class="btn btn-outline-danger" th:href="@{/categories/delete/{id} (id=${m.idCategorie})}" role="button">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
							  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
							</svg>
							Supprimer 
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>