<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Detail Categorie</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container-fluid">

		<div class="alert alert-success mt-2" role="alert">
			<h2 class="d-flex justify-content-center">Detail Categorie</h2>
		</div>

		<form th:object="${CategorieForm}" method="POST" th:action="@{/categories/save}" cssClass="form">
			
			<table class="d-flex justify-content-center">
				<tr>
					<td>ID</td>
					<td><input readonly="true" type="text" th:field="*{idCategorie}" class="form-control" id="idCategorie" /></td>
				</tr>
				<tr>
					<td>Nom</td>
					<td><input type="text" th:field="*{nom}" class="form-control" id="nom" disabled /></td>
				</tr>
				<tr>
					<td></td>
					<td class="float-right">
						<a class="btn btn-outline-secondary mb-2" th:href="@{/categories/list}" role="button">Retour</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>