<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Liste des Produits</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container">
		<h2>Liste des produits</h2>
		<table>
			<tr>
				<td><a class="btn btn-primary" th:href="@{/produits/add}"
					role="button">Ajouter un nouveau produit</a></td>
				<td><a class="btn btn-primary"
					th:href="@{/produit/find/categorie}" role="button">Chercher un
						Produit (Categorie)</a></td>
				<td><a class="btn btn-primary" th:href="@{/produit/find/mots}"
					role="button">Chercher un Produit (Mots cles)</a></td>
			</tr>
		</table>
		<table class="table table-striped">
			<thead>

				<th scope="row">Nom</th>
				<th scope="row">Quantite</th>
				<th scope="row">Disponibilite</th>
				<th scope="row">categorie</th>
				<th scope="row">Mots-cles</th>
				<th scope="row">Modifier</th>
				<th scope="row">Supprimer</th>
			</thead>
			<tbody>
				<tr th:each="c : ${listeproduits}">
					<td hidden th:utext="${c.idProduit}"></td>
					<td th:utext="${c.nom}"></td>
					<td th:utext="${c.quantite}"></td>
					<td th:utext="${c.disponibilite}"></td>
					<td th:utext="${c.categorie}"></td>
					<td th:utext="${c.motsCles}"></td>
					<!--       <td> -->
					<!--         <img th:src="${c.path}"/> -->
					<!--         </td> -->


					<td><a class="btn btn-primary"
						th:href="@{/produit/update/{id} (id=${c.idProduit})}"
						role="button">Modifier</a></td>
					<td><a class="btn btn-primary"
						th:href="@{/remove_produit/{id}(id=${c.idProduit})}" role="button">Supprimer</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>