<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Produits par Categorie</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<form th:object="${findForm}" method="POST"
		th:action="@{/produit/recherche/categorie}" cssClass="form">

		<div class="container">
			<h2>Produits par categorie</h2>

			<div class="form-group">
				<label>sélectionner la categorie du produit</label> <select
					th:field="*{mots}" cssClass="form-control"
					Selected="*{findForm.mots}" name="tp6" id="mots">
					<option value="sport">sport</option>
					<option value="cuisine">cuisine</option>
					<option value="automobile">automobile</option>
					<option value="bricolage">bricolage</option>
					<option value="electronique">electronique</option>
					<option value="smartphone">smartphone</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">chercher</button>
			<a class="btn btn-primary" th:href="@{/produits/list}" role="button">Acceuil</a>
		</div>

		<div class="container">
			<h2>Liste des produits</h2>
			<table class="table table-striped">
				<thead>
					<th scope="row">Nom</th>
					<th scope="row">Quantite</th>
					<th scope="row">Disponibilite</th>
					<th scope="row">categorie</th>
					<th scope="row">Modifier</th>
					<th scope="row">Supprimer</th>
				</thead>
				<tbody>
					<tr th:each="prod : ${findForm.listProduit}">
						<td hidden th:utext="${prod.idProduit}"></td>
						<td th:utext="${prod.nom}"></td>
						<td th:utext="${prod.quantite}"></td>
						<td th:utext="${prod.disponibilite}"></td>
						<td th:utext="${prod.categorie}"></td>

						<td><a class="btn btn-primary"
							th:href="@{/produit/update/{id} (id=${prod.idProduit})}"
							role="button">Modifier</a></td>
						<td><a class="btn btn-primary"
							th:href="@{/remove_produit/{id}(id=${prod.idProduit})}"
							role="button">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</body>
</html>