<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Produits par mots cles</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<form th:object="${findForm}" method="POST"
		th:action="@{/produit/recherche/mots}" cssClass="form">

		<div class="container">
			<h2>Produits par mots cles</h2>

			<div class="form-group">
				<label>tapez les mots cles </label> <input type="text"
					th:field="*{mots}" cssClass="form-control" id="mots" />
			</div>
			<button type="submit" class="btn btn-primary">chercher</button>
			<a class="btn btn-primary" th:href="@{/produits/list}" role="button">Acceuil</a>
		</div>

		<div class="container">
			<h2>Liste des produits</h2>
			<table class="table table-striped">
				<thead>
					<th scope="row">Nom</th>
					<th scope="row">Quantite</th>
					<th scope="row">Disponibilite</th>
					<th scope="row">categorie</th>
					<th scope="row">Modifier</th>
					<th scope="row">Supprimer</th>
				</thead>
				<tbody>
					<tr th:each="prod : ${findForm.listProduit}">
						<td hidden th:utext="${prod.idProduit}"></td>
						<td th:utext="${prod.nom}"></td>
						<td th:utext="${prod.quantite}"></td>
						<td th:utext="${prod.disponibilite}"></td>
						<td th:utext="${prod.categorie}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/produit/update/{id} (id=${prod.idProduit})}"
							role="button">Modifier</a></td>
						<td><a class="btn btn-primary"
							th:href="@{/remove_produit/{id}(id=${prod.idProduit})}"
							role="button">Supprimer</a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</form>
</body>
</html>