<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Creer Commande</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container-fluid">

		<div class="alert alert-success mt-2" role="alert">
			<h2 class="d-flex justify-content-center">Creer Commande</h2>
		</div>

		<form th:object="${CommandeForm}" method="POST"
			th:action="@{/commande/save}" cssClass="form">

			<hidden type="text" th:field="*{idCommande}" />

			<table class="d-flex justify-content-center">
					<tr>
						<td>Reference</td>
						<td><input type="text" th:field="*{ref}" class="form-control" id="ref" /></td>
					</tr>

					<tr>
						<td>Adresse</td>
						<td><input type="text" th:field="*{adress}" class="form-control" id="adress" /></td>
					</tr>

					<tr>
						<td>Code Postal</td>
						<td><input type="text" th:field="*{codePostal}" class="form-control" id="codePostal" /></td>
					</tr>


					<tr>
						<td>Client ID</td>
						<td><input type="text" th:field="*{id_client.id}" class="form-control" id="id_client" /></td>
					</tr>

					<tr>
						<td>Produits</td>
						<td>
							<table class="table table-striped">
								<thead>
									<th scope="row">Nom</th>
									<th scope="row">Quantite</th>
									<th scope="row">Disponibilite</th>
									<th scope="row">categorie</th>
									<th scope="row">ajouter a la commande</th>
								</thead>
								<tbody>
									<tr th:each="c : ${produits}">
										<td hidden th:utext="${c.idProduit}"></td>
										<td th:utext="${c.nom}"></td>
										<td th:utext="${c.quantite}"></td>
										<td th:utext="${c.disponibilite}"></td>
										<td th:utext="${c.categorie}"></td>
										<td><input type="checkbox" th:field="*{ListProduit}"
											th:value="${c.idProduit}" /></td>
			
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td class="float-right">
							<button class="btn btn-outline-success mb-2" type="submit"> 
								<svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-plus-circle-fill"
									viewBox="0 0 16 16">
								  <path
										d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
								</svg> Creer
							</button>
							<a class="btn btn-outline-secondary mb-2" th:href="@{/commande/list}" role="button">Annuler</a>
						</td>
					</tr>
			</table>
		</form>
	</div>
</body>
</html>