<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Detail Commande</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container-fluid">

		<div class="alert alert-success mt-2" role="alert">
			<h2 class="d-flex justify-content-center">Detail Commande</h2>
		</div>

		<form th:object="${CommandeForm}" method="POST" th:action="@{/Commandes/save}" cssClass="form">
			<table class="d-flex justify-content-center">
					<tr>
						<td>ID</td>
						<td><input readonly="true" type="text" th:field="*{idCommande}" cssClass="form-control" id="idCommande" disabled="true" /></td>
					</tr>
					<tr>
						<td>Reference</td>
						<td><input type="text" th:field="*{ref}" class="form-control" id="ref" disabled="true"/></td>
					</tr>

					<tr>
						<td>Adresse</td>
						<td><input type="text" th:field="*{adress}" class="form-control" id="adress" disabled="true" /></td>
					</tr>

					<tr>
						<td>Code Postal</td>
						<td><input type="text" th:field="*{codePostal}" class="form-control" id="codePostal" disabled="true" /></td>
					</tr>


					<tr>
						<td>Client ID</td>
						<td><input type="text" th:field="*{id_client.id}" class="form-control" id="id_client" disabled="true" /></td>
					</tr>

					<tr>
						<td>Produits</td>
						<td>
							<table class="table table-striped">
								<thead>
									<th scope="row">Nom</th>
									<th scope="row">Quantite</th>
									<th scope="row">Disponibilite</th>
									<th scope="row">categorie</th>
									<th scope="row">Selected</th>
								</thead>
								<tbody>
									<tr th:each="c : ${produits}">
										<td hidden th:utext="${c.idProduit}"></td>
										<td th:utext="${c.nom}"></td>
										<td th:utext="${c.quantite}"></td>
										<td th:utext="${c.disponibilite}"></td>
										<td th:utext="${c.categorie}"></td>
										<td><input type="checkbox" th:field="*{ListProduit}"
											th:value="${c.idProduit}" disabled="true"/></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td class="float-right">
							<a class="btn btn-outline-secondary mb-2" th:href="@{/commande/list}" role="button">Retour</a>
						</td>
					</tr>
			</table>
		</form>
	</div>
</body>
</html>