<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>

<title>Modifier Client</title>
<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container-fluid">

		<div class="alert alert-success mt-2" role="alert">
			<h2 class="d-flex justify-content-center">Modifier Client</h2>
		</div>


		<form th:object="${ClientForm}" method="POST" th:action="@{/Clients/save}">

			<table class="d-flex justify-content-center">
				<tr>
					<td>ID</td>
					<td> <input readonly="true" type="text" th:field="*{id}" class="form-control" id="idm" /></td>
				</tr>
				
				<tr>
					<td>Nom</td>
					<td> <input type="text" th:field="*{nom}" class="form-control" id="nom" /> </td>
				</tr>

				<tr>
					<td><label>Prenom</label></td>
					<td> <input type="text" th:field="*{prenom}" class="form-control" id="prenom" /> </td>
				</tr>

				<tr>
					<td>Login</td>
					<td> <input type="text" th:field="*{login}" class="form-control" id="login" /> </td>
				</tr>

				<tr>
					<td>Password</td>
					<td> <input type="password" th:field="*{password}" class="form-control" id="password" /> </td>
				</tr>

				<tr>
					<td>Telephone</td>
					<td> <input type="text" th:field="*{tel}" class="form-control" id="tel" /></td>
				</tr>

				<tr>
					<td>Email</td>
					<td> <input type="text" th:field="*{email}" class="form-control" id="email" /></td>
				</tr>
				
				<tr>
					<td>Adresse</td>
					<td> <input type="text" th:field="*{adress}" class="form-control" id="adress" /> </td>
				</tr>
					
				<tr>
					<td></td>
					<td class="float-right">
						<button class="btn btn-outline-success mb-2" type="submit"> 
							<svg xmlns="http://www.w3.org/2000/svg" width="16"
								height="16" fill="currentColor" class="bi bi-plus-circle-fill"
								viewBox="0 0 16 16">
							  <path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
							</svg> Modifier
						</button>
						<a class="btn btn-outline-secondary mb-2" th:href="@{/clients/list}" role="button">Annuler</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>