<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Ajouter Livreur</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container">
		<h2>Ajouter Livreur</h2>

		<form th:object="${LivreurForm}" method="POST"
			th:action="@{/livreur/save}" cssClass="form">

			<hidden type="text" th:field="*{idLiv}" />

			<div class="form-group">
				<label>nom</label> <input type="text" th:field="*{nom}"
					cssClass="form-control" id="nom" />
			</div>

			<div class="form-group">
				<label>prenom</label> <input type="text" th:field="*{prenom}"
					cssClass="form-control" id="prenom" />
			</div>

			<div class="form-group">
				<label>mail</label> <input type="text" th:field="*{mail}"
					cssClass="form-control" id="mail" />
			</div>

			<div class="form-group">
				<label>password</label> <input type="text" th:field="*{password}"
					cssClass="form-control" id="password" />
			</div>


			<button type="submit" class="btn btn-primary">Ajouter</button>
			<a class="btn btn-primary" th:href="@{/livreur/list}" role="button">Return</a>
			</form:form>
	</div>

</body>
</html>