<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Formulaire Livreurs</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<div class="container">
		<h2>Formulaire Livreur</h2>

		<form th:object="${LivreurForm}" method="POST"
			th:action="@{/livreur/save}" cssClass="form">

			<div class="form-group">
				<label>Id</label> <input readonly="true" type="text"
					th:field="*{idLiv}" cssClass="form-control" id="idLiv" />
			</div>

			<div class="form-group">
				<label>nom</label> <input type="text" th:field="*{nom}"
					cssClass="form-control" id="nom" />
			</div>

			<div class="form-group">
				<label>prenom</label> <input type="text" th:field="*{prenom}"
					cssClass="form-control" id="prenom" />
			</div>

			<div class="form-group">
				<label>mail</label> <input type="text" th:field="*{mail}"
					cssClass="form-control" id="mail" />
			</div>

			<div class="form-group">
				<label>password</label> <input type="text" th:field="*{password}"
					cssClass="form-control" id="password" />
			</div>
			<!--
   <div class="form-group">
    <label>Spécialité</label>
    <select th:field="*{specialite}" cssClass="form-control" 
    Selected="*{medecinForm.specialite}" name="tp6"  id="specialite">
	<option value="Spec 1">Spec 1</option>
	<option value="Spec 2">Spec 2</option>
	<option value="Spec 3">Spec 3</option>
</select> 
   </div> 
   -->

			<button type="submit" class="btn btn-primary">Modifier</button>
			<a class="btn btn-primary" th:href="@{/livreur/list}" role="button">Return</a>
		</form>

	</div>

</body>
</html>