<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/head::head"></head>
<title>Recherche des Livreurs</title>

<body>
	<nav class="navbar" th:replace="layouts/nav::breadcrumbfragment"></nav>

	<form th:object="${resForm}" method="POST"
		th:action="@{/livreur/recherche}" cssClass="form">
		<div class="container">

			<h2 align="center">Recherche des Livreurs</h2>

			<div class="form-group">
				<label>Nom :</label> <input type="text" th:field="*{mots}"
					cssClass="form-control" id="mots" />
			</div>

			<button type="submit" class="btn btn-primary">Recherche</button>


		</div>
		<div class="container">
			<h2>Liste des livreurs</h2>
			<table class="table table-striped">
				<thead>
					<th scope="row">Id Livreur</th>
					<th scope="row">nom</th>
					<th scope="row">prenom</th>
					<th scope="row">mail</th>
					<th scope="row">password</th>
					<th scope="row">Actions</th>
				</thead>
				<tbody>
					<tr th:each="l : ${resForm.listLivreurs}">
						<td th:utext="${l.idLiv}"></td>
						<td th:utext="${l.nom}"></td>
						<td th:utext="${l.prenom}"></td>
						<td th:utext="${l.mail}"></td>
						<td th:utext="${l.password}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/livreur/update/{id} (id=${l.idLiv})}" role="button">Update</a>

							<a class="btn btn-primary"
							th:href="@{/livreur/delete/{id}(id=${l.idLiv})}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" th:href="@{/livreur/add}" role="button">Ajouter
				un livreur</a> <a class="btn btn-primary" th:href="@{/livreur/list}"
				role="button">Return</a>
		</div>
	</form>
</body>
</html>