<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Client Form</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Formulaire Client</h2>
  
  <form th:object="${ClientForm}" method="POST" 
  th:action="@{/Clients/save}" cssClass="form" >
  
       <div class="form-group">
    <label>Id</label>
     <input readonly="true" type="text" th:field="*{id}" cssClass="form-control" id="idm" />
   </div>
   
   <div class="form-group">
    <label>Nom</label>
    <input type="text" th:field="*{nom}" cssClass="form-control" id="nom" />
   </div>
   
   <div class="form-group">
    <label>Prenom</label>
    <input type="text" th:field="*{prenom}" cssClass="form-control" id="prenom" />
   </div>
   
   <div class="form-group">
    <label>Tel</label>
    <input type="text" th:field="*{tel}" cssClass="form-control" id="tel" />
   </div>
   
    <div class="form-group">
    <label>Email</label>
    <input type="text" th:field="*{email}" cssClass="form-control" id="email" />
   </div>
   
     <div class="form-group">
    <label>Adresse</label>
    <input type="text" th:field="*{adress}" cssClass="form-control" id="adress" />
   </div>
   
   <button type="submit" class="btn btn-primary">Modifier</button>
   <a class="btn btn-primary" th:href="@{/clients/list}" 
        role="button" >annuler</a> 
  </form:form>
  
 </div>

</body>
</html>