<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Checkout Commande </title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Update une commande</h2>
  
  <form th:object="${CommandeForm}" method="POST" th:action="@{/Commandes/save}" cssClass="form" >
  
   <hidden type="text" th:field="*{idCommande}"/>
   
   <div class="form-group">
    <label>Ref :</label>
    <input type="text" th:field="*{ref}" cssClass="form-control" id="ref"  disabled/>
   </div>
   
   <div class="form-group">
    <label>Adress :</label>
    <input type="text" th:field="*{adress}" cssClass="form-control" id="adress" disabled/>
   </div>
   
   <div class="form-group">
    <label>Code Postal :</label>
    <input type="text" th:field="*{codePostal}" cssClass="form-control" id="codePostal" disabled/>
   </div>
   
  
   <div class="form-group">
    <label>Id client</label>
    <input type="text" th:field="*{id_client.id}" cssClass="form-control" id="id_client" disabled/>
   </div>
   
  <p><label>Produits: <label></p>
       
        <table class="table table-striped">
   <thead>

    <th scope="row">Nom</th>
    <th scope="row">Quantite</th>
     <th scope="row">Disponibilite</th>
     <th scope="row">categorie</th>
    
   </thead>
   <tbody>
     <tr th:each="c : ${produits}"> 
      <td hidden th:utext="${c.idProduit}"> </td>
      <td th:utext="${c.nom}"> </td>
      <td th:utext="${c.quantite}"> </td>
       <td th:utext="${c.disponibilite}"> </td>
      <td th:utext="${c.categorie}"> </td>
       
     </tr>
   </tbody>
  </table>
     
    <a class="btn btn-primary" th:href="@{/commande/list}" 
        role="button" >retour</a> 
  </form:form>
  
 </div>

</body>
</html>