<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Liste des livreur</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Liste des livreurs</h2>
  <table class="table table-striped">
   <thead>
    <th scope="row">Id Livreur</th>
    <th scope="row">nom</th>
   <th scope="row">prenom</th>
    <th scope="row">mail</th> 
    <th scope="row">password</th>
   </thead>
   <tbody>
     <tr th:each="l : ${listelivreur}"> 
      <td th:utext="${l.idLiv}"> </td>
      <td th:utext="${l.nom}"> </td>
      <td th:utext="${l.prenom}"> </td>
      <td th:utext="${l.mail}"> </td>
      <td th:utext="${l.password}"> </td>
        <td>
       <a class="btn btn-primary" th:href="@{/livreur/update/{id} (id=${l.idLiv})}"
        role="button" >Update</a>
      </td>
      <td>
       <a class="btn btn-primary" th:href="@{/livreur/delete/{id}(id=${l.idLiv})}"
        role="button" >Delete</a>
      </td>
     </tr>
   </tbody>
  </table>
  <a class="btn btn-primary" th:href="@{/livreur/add}" role="button" >Ajouter un livreur</a>
  <a class="btn btn-primary" th:href="@{/livreur/find}" role="button" >Rechercher un livreur</a>
 </div>
</body>
</html>