<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Liste des produits</title>

 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Liste des produits</h2>
   <table>
  <tr>
  <td>
  <a class="btn btn-primary" th:href="@{/produits/add}" role="button" >Ajouter un nouveau produit</a>
  </td>
  <td>
    <a class="btn btn-primary" th:href="@{/produit/find/categorie}" role="button" >Chercher un Produit (Categorie)</a>
  </td>
  <td>
    <a class="btn btn-primary" th:href="@{/produit/find/mots}" role="button" >Chercher un Produit (Mots cles)</a>
  </td>
  </tr>
  </table>
  <table class="table table-striped">
   <thead>

    <th scope="row">Nom</th>
    <th scope="row">Quantite</th>
     <th scope="row">Disponibilite</th>
     <th scope="row">categorie</th>
      <th scope="row">Mots-clés</th>
        <th scope="row">Modifier</th>
    <th scope="row">Supprimer</th> 
   </thead>
   <tbody>
     <tr th:each="c : ${listeproduits}"> 
 <td hidden th:utext="${c.idProduit}"> </td>
      <td th:utext="${c.nom}"> </td>
      <td th:utext="${c.quantite}"> </td>
       <td th:utext="${c.disponibilite}"> </td>
      <td th:utext="${c.categorie}"> </td>
       <td th:utext="${c.motsCles}"> </td>
<!--       <td> -->
<!--         <img th:src="${c.path}"/> -->
<!--         </td> -->
      
       
        <td>
       <a class="btn btn-primary" th:href="@{/produit/update/{id} (id=${c.idProduit})}" 
        role="button" >Modifier</a> 
      </td> 
      <td>
       <a class="btn btn-primary" th:href="@{/remove_produit/{id}(id=${c.idProduit})}"
        role="button" >Supprimer</a>
      </td> 
     </tr>
   </tbody>
  </table>
 
 </div>
</body>
</html>