<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Liste des clients</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Liste des clients</h2>
  <table class="table table-striped">
   <thead>
    <th scope="row">ID Client</th>
    <th scope="row">Nom</th>
    <th scope="row">Prénom</th>
    <th scope="row">Email</th>
    <th scope="row">Téléphone</th>
    <th scope="row">Adresse</th>
   <th scope="row">Update</th>
    <th scope="row">Delete</th>
   </thead>
   <tbody>
     <tr th:each="c : ${clients}"> 
      <td th:utext="${c.id}"> </td>
      <td th:utext="${c.nom}"> </td>
      <td th:utext="${c.prenom}"> </td>
      <td th:utext="${c.email}"> </td>
      <td th:utext="${c.tel}"> </td>
      <td th:utext="${c.adress}"> </td>
      
       <td>
       <a class="btn btn-primary" th:href="@{/clients/update/{id} (id=${c.id})}"
        role="button" >Update</a>
      </td>
      <td>
       <a class="btn btn-primary" th:href="@{/Clients/delete/{id}(id=${c.id})}"
        role="button" >Delete</a>
      </td>
     </tr>
   </tbody>
  </table>
  <a class="btn btn-primary" th:href="@{/Clients/add}" role="button" >Ajouter un nouveau client</a>
  
 </div>
</body>
</html>