<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Liste des commandes</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>

     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
   
<div class="container">
        
  <h2>Liste des commandes</h2>
  
   
        
        <div class="float-right"><a class="btn btn-primary" th:href="@{/commande/find}" 
        role="button" >Recherche</a></div><br><br>
  <table class="table table-striped">
   <thead>
    <th scope="row">ID</th>
    <th scope="row">ref</th>
    <th scope="row">adress</th>
    <th scope="row">codePostal</th>
    <th scope="row">id_client</th>
    <th scope="row">action</th>
   </thead>
   <tbody>
     <tr th:each="m : ${Commandes}"> 
      <td th:utext="${m.idCommande}"> </td>
        <td th:utext="${m.adress}"> </td>
      <td th:utext="${m.ref}"> </td>
      <td th:utext="${m.codePostal}"> </td>
      <td th:utext="${m.getFullName()}"> </td>
      
       <td>
         <a class="btn btn-primary" th:href="@{/commande/{id} (id=${m.idCommande})}"
        role="button" >afficher</a>
       
       <a class="btn btn-primary" th:href="@{/commande/update/{id} (id=${m.idCommande})}"
        role="button" >modifer</a>
     
       <a class="btn btn-primary" th:href="@{/commande/delete/{id} (id=${m.idCommande})}"
        role="button" >supprimer</a>
      </td>
      
     </tr>
   </tbody>
  </table>
  <a class="btn btn-primary" th:href="@{/commande/add}" role="button" >Creer une commande</a>
 </div>
</body>
</html>