<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Client Form</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Ajouter Livreur</h2>
  
  <form th:object="${LivreurForm}" method="POST" th:action="@{/livreur/save}" cssClass="form" >
  
    <hidden type="text" th:field="*{idLiv}"/>
   
   <div class="form-group">
    <label>nom</label>
    <input type="text" th:field="*{nom}" cssClass="form-control" id="nom" />
   </div>
   
   <div class="form-group">
    <label>prenom</label>
    <input type="text" th:field="*{prenom}" cssClass="form-control" id="prenom" />
   </div>
   
   <div class="form-group">
    <label>mail</label>
    <input type="text" th:field="*{mail}" cssClass="form-control" id="mail" />
   </div>
   
   <div class="form-group">
    <label>password</label>
    <input type="text" th:field="*{password}" cssClass="form-control" id="password" />
   </div>
   
   
   <button type="submit" class="btn btn-primary">Ajouter</button>
     <a class="btn btn-primary" th:href="@{/livreur/list}" 
        role="button" >Return</a> 
  </form:form>
  
 </div>

</body>
</html>