<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Recherche Form</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
  
  <form th:object="${findForm}"  method="POST" th:action="@{/produit/recherche/mots}" cssClass="form" >    
   
   <div class="container">
  <h2>Produits par mots cles</h2>

  <div class="form-group">
    <label>tapez les mots cles </label>
    <input type="text" th:field="*{mots}" cssClass="form-control" id="mots" />
   </div>
   <button type="submit" class="btn btn-primary">chercher</button>
    <a class="btn btn-primary" th:href="@{/produits/list}" 
        role="button" >Acceuil</a> 

  
 </div>
 
 <div class="container">
  <h2>Liste des produits</h2>
  <table class="table table-striped">
   <thead> 
<th scope="row">Nom</th>
    <th scope="row">Quantite</th>
     <th scope="row">Disponibilite</th>
     <th scope="row">categorie</th>
     <th scope="row">Modifier</th>
    <th scope="row">Supprimer</th> 
   </thead>
   <tbody>
     <tr th:each ="prod : ${findForm.listProduit}">
    <td hidden th:utext="${prod.idProduit}"> </td>
      <td th:utext="${prod.nom}"> </td>
      <td th:utext="${prod.quantite}"> </td>
       <td th:utext="${prod.disponibilite}"> </td>
      <td th:utext="${prod.categorie}"> </td>
      <td>
  
       <a class="btn btn-primary" th:href="@{/produit/update/{id} (id=${prod.idProduit})}" 
        role="button" >Modifier</a> 
      </td> 
      <td>
       <a class="btn btn-primary" th:href="@{/remove_produit/{id}(id=${prod.idProduit})}"
        role="button" >Supprimer</a>
      </td> 
     </tr>
   </tbody>
  </table>
  
 </div>
  </form>
</body>
</html>