<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Medecin Form</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Shop</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/commande/list">Gestion des Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/produits/list">Gestion des  Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/livreur/list"> Gestion des  Livreurs</a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/clients/list">Gestion des utlisateurs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Formulaire de Modification des Produits</h2>
  
  <form th:object="${produitForm}"  method="POST" 
  th:action="@{/add-produit}" cssClass="form" >
   
     <div class="form-group">
    <input type="hidden" th:field="*{idProduit}" cssClass="form-control" id="idProduit" />
   
   <div class="form-group">
    <label>Nom</label>
    <input type="text" th:field="*{nom}" cssClass="form-control" id="nom" />
   </div>
   
   <div class="form-group">
    <label>Quantite</label>
    <input type="number" th:field="*{quantite}" cssClass="form-control" id="quantite" />
   </div>

     <div>
   <label>Disponible</label>
   <select th:field="*{disponibilite}" cssClass="form-control" 
    Selected="*{produitForm.disponibilite}" name="tp6"  id="disponibilite">
	<option value="Oui">Oui</option>
	<option value="Non">Non</option>
</select>  
</div>
 <div>
<label>Categorie</label>
     <select th:field="*{categorie}" cssClass="form-control" 
    Selected="*{produitForm.categorie}" name="tp6"  id="categorie">
	<option value="Sport">Sport</option>
	<option value="Cuisine">Cuisine</option>
	<option value="Automobile">Automobile</option>
	<option value="Bricolage">Bricolage</option>
	<option value="Electronique">Electronique</option>
	<option value="smartphone">smartphone</option>
	
</select>
 <div class="form-group">
    <label>Mots cles (utiliser le , comme separateur)</label>
    <textarea  type="textarea" th:field="*{motsCles}" cssClass="form-control" id="motsCles" ></textarea>
   </div>
</div>
   
   <button type="submit" class="btn btn-primary">Modifier</button>
  </form>
  
 </div>

</body>
</html>